# App configuration
APP_URL=

# Gemini AI API Key
GEMINI_API_KEY=

# MySQL Database Configuration
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# Admin Authentication Secret for viewing stored contact messages
ADMIN_PASSCODE=

